
Showing {{filteredCards.length}} cards
<table class="table">
    <tr>
        <th ng-click="setOrderBy(column.map)" ng-repeat="column in columns">
            {{column.label}}
        </th>
    </tr>
    <tr ng-repeat="card in (filteredCards = (cards | filter:cardFilter | filter:search | orderBy:sort.column:sort.descending))">
        <td>{{card.name}}</td>
         <td>{{card.classText}}</td>
         <td>
            {{card.qualityText}}
        </td>
         <td>
            {{card.typeText}}
        </td>
         <td>
            {{card.raceText}}
        </td>
         <td>
            {{card.cost}}
        </td>
         <td>
            {{card.attack}}
        </td>
         <td>
            {{card.health}}
        </td>
         <td>
            {{card.description}}
        </td>
    </tr>
</table>

